Repository elevanaltd/eav-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-version-suffixes, project-phase-validation

no-version-suffixes:
  name: Check for forbidden version suffixes
  entry: (_v[0-9]+|_final|_latest|_draft|_old|_new|_copy|_backup)
  language: pygrep

project-phase-validation:
  name: Validate PROJECT document phases
  entry: ^[0-9]{3}-PROJECT
  language: pygrep
  args:
  - --negate

directory cleanup and readme setup
  README.md
  docs/103-DOC-STRUCTURE-AND-NAMING-STANDARDS.md
  docs/README.md
  reports/README.md
  scripts/README.md
  sessions/README.md
Due: no-version-suffixes, project-phase-validation

README fix in script
  scripts/validate-docs.sh
Due: none

/role system-steward
  scripts/validate-docs.sh
Due: none

README update
  README.md
Due: no-version-suffixes

Tidyup and rework to minimal start
  README.md
  docs/README.md
  reports/README.md
  scripts/README.md
  sessions/README.md
Due: no-version-suffixes, project-phase-validation

feat: create initial directory structure for React/TypeScript workspace
  src/App.tsx
  src/main.tsx
  src/vite-env.d.ts
  tests/setup.ts
Due: none

feat: establish React/TypeScript workspace foundation
  .env.example
  docs/104-DOC-SALVAGE-REPORT.md
  docs/105-DOC-EAV-ORCHESTRATOR-D1-NORTH-STAR.md
  docs/106-DOC-B0-VALIDATION.md
  docs/201-PROJECT-EAV-D1-NORTH-STAR-REF.md
  docs/202-PROJECT-EAV-D1-NORTH-STAR-REF.md
  docs/adr/102-DOC-ADR-DATA-MODEL.md
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
  vite.config.ts
Due: no-version-suffixes, project-phase-validation

test: Add configuration validation contracts
  tests/config.test.ts
Due: none

newbuild
  .eslintrc.cjs
  docs/108-DOC-EAV-B1-BUILD-PLAN.md
  eslint.config.cjs
  jest.config.cjs
  package-lock.json
  package.json.backup
  src/App.tsx
  tests/setup.ts
  tsconfig.json
  tsconfig.node.json
  tsconfig.node.tsbuildinfo
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
  vite.config.ts
Due: no-version-suffixes

test: add failing test for index.html requirements
  tests/build-system.test.ts
Due: none

feat: create index.html for Vite development server
  index.html
Due: none

test: add failing test for missing index.css file
  tests/unit/assets.test.ts
Due: none

feat: add index.css with professional foundation styles for EAV Orchestrator
  src/index.css
Due: none

test: Add failing tests for fractional indexing implementation
  tests/unit/ordering/fractionalIndex.test.ts
Due: none

fix: correct test scripts from Jest to Vitest
  package.json
Due: none

chore: remove duplicate 202-PROJECT-EAV-D1-NORTH-STAR-REF.md file
  CLAUDE.md
  README.md
  docs/108-DOC-EAV-B1-BUILD-PLAN.md
  docs/109-DOC-CONSTITUTIONAL-BASELINE-IMPLEMENTATION-LOG.md
  docs/110-DOC-SCRIPT-EDITOR-IMPLEMENTATION-READINESS.md
  docs/202-PROJECT-EAV-D1-NORTH-STAR-REF.md
  docs/203-DOC-ARCHITECTURE-YJS-SUPABASE-COLLABORATION.md
  docs/204-DOC-ARCHITECTURAL-BLOCKER-ESCALATION.md
  docs/adr/103-DOC-ADR-EAV-API-ARCHITECTURE.md
  jest.config.cjs
  package-lock.json
  package.json
  src/lib/ordering/fractionalIndex.ts
  tests/mocks/fractional-indexing.cjs
  tests/mocks/supabase.ts
  tests/setup.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
  tests/unit/collaboration/encoding.test.ts
  tests/unit/collaboration/persistence.test.ts
  tests/unit/lib/resilience/circuitBreaker.test.ts
  tests/unit/lib/resilience/retryWithBackoff.test.ts
  tests/unit/ordering/fractionalIndex.test.ts
  vite.config.ts
Due: no-version-suffixes, project-phase-validation

docs: resolve naming conflict - rename ADR to 111-DOC-ADR-EAV-API-ARCHITECTURE.md
  docs/108-DOC-EAV-B1-BUILD-PLAN.md
  docs/110-DOC-SCRIPT-EDITOR-IMPLEMENTATION-READINESS.md
  docs/adr/111-DOC-ADR-EAV-API-ARCHITECTURE.md
Due: no-version-suffixes, project-phase-validation

vite update
  vite.config.js
  vite.config.ts
Due: none

docs: add Supabase PRO tier requirements and infrastructure architecture
  CLAUDE.md
  docs/105-DOC-EAV-ORCHESTRATOR-D1-NORTH-STAR.md
  docs/112-DOC-EAV-SUPABASE-INFRASTRUCTURE-ARCHITECTURE.md
Due: no-version-suffixes, project-phase-validation

docs: strategic pivot documentation stewardship complete
  docs/108-DOC-EAV-B1-BUILD-PLAN.md
  docs/205-DOC-EAV-B1-COMPREHENSIVE-HARVEST-ANALYSIS.md
  docs/206-DOC-CROSS-REPOSITORY-ANALYSIS.md
  docs/207-DOC-STRATEGIC-PIVOT-DECISION-ARCHIVE.md
  reports/804-REPORT-ARCHITECTURE-OPTIMISTIC-LOCKING-ANALYSIS.md
Due: no-version-suffixes, project-phase-validation

docs: complete strategic pivot documentation stewardship
  CLAUDE.md
Due: no-version-suffixes

test: add failing retryWithBackoff tests for resilience utilities
  tests/unit/resilience/retryWithBackoff.test.ts
Due: none

feat: implement retryWithBackoff utility for resilience
  src/lib/resilience/retryWithBackoff.ts
Due: none

test: add failing circuit breaker tests for resilience utilities
  tests/unit/resilience/circuitBreaker.test.ts
Due: none

feat: implement circuit breaker pattern for resilience
  src/lib/resilience/circuitBreaker.ts
Due: none

docs: B2 implementation progress log with TRACED evidence
  docs/208-BUILD-B2-IMPLEMENTATION-LOG.md
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/types.ts
  src/lib/ordering/fractionalIndex.ts
  tests/unit/ordering/fractionalIndex.test.ts
Due: no-version-suffixes

test: add failing tests for optimistic locking TypeScript interfaces
  tests/unit/types/scriptComponent.test.ts
Due: none

feat: implement optimistic locking TypeScript interfaces
  src/types/scriptComponent.ts
Due: none

test: add failing tests for ScriptComponentManager with optimistic locking
  tests/unit/database/scriptComponentManager.test.ts
Due: none

feat: implement ScriptComponentManager with optimistic locking
  src/lib/database/scriptComponentManager.ts
  tests/mocks/supabase.ts
Due: none

EMERGENCY OVERRIDE: Fix ESLint globals deadlock
  eslint.config.cjs
Due: none

test: add content processor TDD tests
  tests/lib/content/content-processor.test.ts
Due: none

test: move content processor tests to expected location
  src/lib/content/content-processor.test.ts
Due: none

feat: implement browser-compatible content processor library
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/types.ts
  src/lib/content/content-processor.ts
  src/lib/database/scriptComponentManager.ts
  src/lib/resilience/retryWithBackoff.ts
  src/types/scriptComponent.ts
  supabase/migrations/001_add_optimistic_locking.sql
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
  tests/unit/collaboration/persistence.test.ts
  tests/unit/database/scriptComponentManager.test.ts
  tests/unit/lib/resilience/circuitBreaker.test.ts
  tests/unit/lib/resilience/retryWithBackoff.test.ts
  tests/unit/ordering/fractionalIndex.test.ts
  tests/unit/resilience/circuitBreaker.test.ts
  tests/unit/resilience/retryWithBackoff.test.ts
  vite.config.ts
Due: none

docs: Week 1 completion documentation stewardship
  CLAUDE.md
  docs/208-BUILD-B2-IMPLEMENTATION-LOG.md
  docs/209-BUILD-WEEK-2-READINESS-ROADMAP.md
  package-lock.json
  package.json
  src/server/app.ts
Due: no-version-suffixes, project-phase-validation

feat: implement critical engineer mandated CI quality gates
  .github/workflows/ci.yml
Due: none

fix: resolve 11 TypeScript and ESLint errors in critical files
  src/lib/content/content-processor.test.ts
  src/lib/content/content-processor.ts
  src/server/app.test.ts
  src/server/app.ts
Due: none

test: add type declarations test for y-supabase alpha package
  src/types/y-supabase.test.ts
Due: none

fix: resolve missing dependencies and type declarations
  package-lock.json
  package.json
  src/lib/collaboration/YjsSupabaseProvider.test.ts
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/types/y-supabase.d.ts
  tsconfig.json
Due: none

fix: error resolution
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/encoding.test.ts
  src/lib/collaboration/encoding.ts
  src/lib/collaboration/persistence.test.ts
  src/lib/collaboration/persistence.ts
  src/lib/resilience/circuitBreaker.test.ts
  src/lib/resilience/retryWithBackoff.test.ts
  src/lib/resilience/retryWithBackoff.ts
  src/types/y-supabase.d.ts
  src/types/y-supabase.test.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
Due: none

Path conditions:
  no-version-suffixes: any of: \.(md|oct\.md)$
  project-phase-validation: any of: ^docs/.*\.md$, but not: .*-(D1|D2|D3|B0|B1|B2|B3|B4)-.*
