Repository elevanaltd/eav-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-version-suffixes, project-phase-validation

.pre-commit-config.yaml:

# HestAI Pre-commit Hooks Configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1024']  # 1MB limit
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      
  # HestAI documentation standards
  - repo: local
    hooks:
      - id: hestai-doc-standards
        name: HestAI Documentation Standards
        entry: scripts/validate-docs.sh
        language: script
        files: \.(md|oct\.md)$
        pass_filenames: false
        always_run: true
        
      - id: no-version-suffixes
        name: Check for forbidden version suffixes
        entry: '(_v[0-9]+|_final|_latest|_draft|_old|_new|_copy|_backup)'
        language: pygrep
        files: \.(md|oct\.md)$
        
      - id: project-phase-validation
        name: Validate PROJECT document phases
        entry: '^[0-9]{3}-PROJECT'
        language: pygrep
        files: '^docs/.*\.md$'
        args: ['--negate']  # This ensures PROJECT docs have proper phase
        exclude: '.*-(D1|D2|D3|B0|B1|B2|B3|B4)-.*'
        
  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package\.lock\.json
        
  # Markdown quality
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json', '--fix']
        
# Future additions (commented out until technology chosen):
# 
# # JavaScript/TypeScript (add after B0)
# - repo: https://github.com/pre-commit/mirrors-eslint
#   rev: v8.56.0
#   hooks:
#     - id: eslint
#       files: \.(js|jsx|ts|tsx)$
#       
# # Python (add after B0)
# - repo: https://github.com/astral-sh/ruff-pre-commit
#   rev: v0.1.13
#   hooks:
#     - id: ruff
#     - id: ruff-format
#     
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.8.0
#   hooks:
#     - id: mypy

fix: resolve ESLint CI file path errors by removing test symlinks
  eslint.config.cjs
  src/lib/collaboration/YjsSupabaseProvider.test.ts
  src/lib/collaboration/encoding.test.ts
  src/lib/collaboration/encoding.ts
  src/lib/collaboration/persistence.test.ts
  src/lib/collaboration/persistence.ts
  src/lib/resilience/circuitBreaker.test.ts
  src/lib/resilience/retryWithBackoff.test.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
Due: none

fix: partial TypeScript error resolution for CI pipeline
  src/lib/collaboration/YjsSupabaseProvider.test.ts
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/resilience/circuitBreaker.test.ts
  src/lib/resilience/circuitBreaker.ts
  src/server/app.test.ts
  src/types/y-supabase.test.ts
Due: none

docs: add TypeScript error resolution status report
  docs/210-DOC-CI-TYPESCRIPT-ERRORS-RESOLUTION-STATUS.md
Due: no-version-suffixes, project-phase-validation

fix: complete TypeScript error resolution for CI pipeline
  src/lib/collaboration/YjsSupabaseProvider.test.ts
  src/lib/collaboration/persistence.ts
  src/lib/content/content-processor.test.ts
  src/server/app.test.ts
  src/types/y-supabase.test.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
  tests/unit/collaboration/encoding.test.ts
  tests/unit/collaboration/persistence.test.ts
  tests/unit/database/scriptComponentManager.test.ts
  tests/unit/resilience/retryWithBackoff.test.ts
  tests/unit/types/scriptComponent.test.ts
Due: none

feat:YjsSupabase Provider
  src/lib/collaboration/persistence.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
Due: none

fix: resolve final ESLint error in persistence.ts
  src/lib/collaboration/persistence.ts
Due: none

feat: implement binary encoding utilities for Y.js collaboration
  src/lib/collaboration/encoding.ts
Due: none

docs: research-analyst Y-supabase solutions documentation stewardship
  docs/212-DOC-CI-ESLINT-FINAL-RESOLUTION.md
  docs/213-PROJECT-DOC-EAV-B1-IMPLEMENTATION-LOG-B2.md
  docs/214-DOC-RESEARCH-ANALYST-Y-SUPABASE-SOLUTIONS.md
  src/lib/collaboration/persistence.ts
  tests/unit/collaboration/persistence.test.ts
Due: no-version-suffixes, project-phase-validation

YjS SUpabase fix
  docs/215-DOC-ARCHITECTURAL-ASSESSMENT-CIRCUITBREAKER-UI-MANAGER.md
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/persistence.ts
  tests/mocks/supabase.ts
Due: no-version-suffixes, project-phase-validation

feat: Phase 3 CustomSupabaseProvider integration complete
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/custom-supabase-provider.ts
  src/lib/collaboration/types.ts
  tests/unit/collaboration/custom-supabase-provider.test.ts
Due: none

fix: resolve IndexedDB test environment failures with polyfill
  package-lock.json
  package.json
  tests/setup.ts
Due: none

docs: system-steward Phase 3 integration completion documentation
  CLAUDE.md
  docs/216-DOC-PHASE-3-INTEGRATION-COMPLETION-STATUS.md
  package-lock.json
  package.json
Due: no-version-suffixes, project-phase-validation

test: RED state - Y.js security migration tests
  tests/unit/database/yjs-security.test.ts
Due: none

fix: implement Y.js security migration v2 with optimistic locking
  src/database/migrations/002-yjs-security-fix-v2.sql
Due: none

feat: GREEN state - Y.js security migration implementation
  supabase/migrations/002_yjs_documents_security_fix.sql
Due: none

feat: complete Y.js security migration with production fixes
  src/database/migrations/002-yjs-security-fix-v2.sql
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/custom-supabase-provider.ts
  src/lib/collaboration/types.ts
  tests/unit/collaboration/custom-supabase-provider.test.ts
Due: none

fix: resolve CI pipeline TypeScript and ESLint errors
  src/lib/collaboration/custom-supabase-provider.ts
  tests/unit/database/yjs-security.test.ts
Due: none

fix: CI issues
  src/lib/resilience/circuitBreaker.test.ts
  tests/unit/database/scriptComponentManager.test.ts
  tests/unit/database/yjs-security.test.ts
  tests/unit/resilience/circuitBreaker.test.ts
  tests/unit/resilience/retryWithBackoff.test.ts
Due: none

docs: update PROJECT_CONTEXT and CLAUDE.md for Phase 3 completion
  CLAUDE.md
Due: no-version-suffixes

test: failing tests for .repomixignore configuration verification
  tests/repomix-ignore.test.ts
Due: none

test: add failing tests for context compilation system
  tests/context-compilation.test.ts
Due: none

docs: update all reference-old paths to reflect coordination relocation
  .gitignore
  .repomixignore
  CLAUDE.md
  docs/104-DOC-SALVAGE-REPORT.md
  docs/108-DOC-EAV-B1-BUILD-PLAN.md
  docs/205-DOC-EAV-B1-COMPREHENSIVE-HARVEST-ANALYSIS.md
  docs/206-DOC-CROSS-REPOSITORY-ANALYSIS.md
  docs/207-DOC-STRATEGIC-PIVOT-DECISION-ARCHIVE.md
  docs/209-BUILD-WEEK-2-READINESS-ROADMAP.md
  docs/214-DOC-RESEARCH-ANALYST-Y-SUPABASE-SOLUTIONS.md
  docs/215-DOC-ARCHITECTURAL-ASSESSMENT-CIRCUITBREAKER-UI-MANAGER.md
  docs/216-DOC-PHASE-3-INTEGRATION-COMPLETION-STATUS.md
  reference-old
  reports/804-REPORT-ARCHITECTURE-OPTIMISTIC-LOCKING-ANALYSIS.md
  src/lib/resilience/circuitBreaker.ts
  src/lib/resilience/retryWithBackoff.ts
Due: no-version-suffixes, project-phase-validation

feat: implement .repomixignore configuration to prevent context pollution
  .repomixignore
Due: none

feat: implement Repomix context compilation infrastructure
  package-lock.json
  package.json
  package.json.new
  scripts/compile-context.js
  scripts/compile-context.sh
  scripts/diff-context.sh
Due: none

feat: establish holistic context initialization protocol
  CLAUDE.md
  package.json.new
  scripts/compile-context.js
Due: no-version-suffixes

test: add failing tests for multi-tier Repomix configurations
  tests/repomix-config.test.ts
Due: none

feat: implement multi-tier Repomix configurations
  repomix.comprehensive.json
  repomix.minimal.json
  repomix.session.json
Due: none

feat: complete multi-tier Repomix context initialization system
  CLAUDE.md
  repomix-output.xml
  scripts/octave-enhance.py
Due: no-version-suffixes

refactor: remove CLAUDE.md from Repomix configs to prevent duplication
  CLAUDE.md
  repomix.minimal.json
  repomix.session.json
  tests/repomix-config.test.ts
Due: no-version-suffixes

test: add failing tests for context preparation script (RED state)
  tests/scripts/prepare-context.test.sh
Due: none

feat: add placeholder prepare-context script (RED state TDD)
  scripts/prepare-context.sh
Due: none

feat: implement context preparation script (GREEN state)
  .claude/last-pack-id.txt
  scripts/prepare-context.sh
Due: none

cleanup and week 2 work
  .claude/current-context.md
  .claude/hooks/post-session-start.sh
  .claude/last-pack-id.txt
  .claude/session.vars
  CLAUDE.md
  docs/217-DOC-CONTEXT-PROTOCOL-IMPLEMENTATION-B2.md
  repomix-output.xml
  repomix.comprehensive.json
  repomix.minimal.json
  repomix.session.json
  scripts/compile-context.sh
  scripts/diff-context.sh
  scripts/prepare-context.sh
  src/lib/collaboration/YjsSupabaseProvider.ts
  tests/context-compilation.test.ts
  tests/repomix-config.test.ts
  tests/repomix-ignore.test.ts
  tests/unit/collaboration/YjsSupabaseProvider.test.ts
Due: no-version-suffixes, project-phase-validation

test: add failing tests for editor TypeScript interfaces (RED state)
  tests/unit/types/editor.test.ts
Due: none

feat: implement TypeScript interfaces for TipTap editor (GREEN state)
  src/types/editor.ts
Due: none

feat: implement TipTap ScriptEditor with Y.js collaboration (GREEN state)
  .claude/session.vars
  .claude/settings.local.json
  CLAUDE.md
  docs/217-DOC-CONTEXT-PROTOCOL-IMPLEMENTATION-B2.md
  package-lock.json
  package.json
  src/components/editor/ScriptEditor.tsx
  tests/setup.ts
  tests/unit/components/ScriptEditor.test.tsx
Due: no-version-suffixes, project-phase-validation

feat: implement circuit breaker pattern for production resilience
  src/lib/collaboration/YjsSupabaseProvider.ts
  src/lib/collaboration/custom-supabase-provider.ts
  tests/unit/collaboration/circuitBreaker.test.ts
Due: none

fix: resolve auto-save memory leak in ScriptEditor
  src/components/editor/ScriptEditor.tsx
  tests/unit/components/ScriptEditor.memory-leak.test.tsx
Due: none

docs: update project documentation to reflect Week 2 completion
  CLAUDE.md
  docs/209-BUILD-WEEK-2-READINESS-ROADMAP.md
  docs/213-PROJECT-DOC-EAV-B1-IMPLEMENTATION-LOG-B2.md
Due: no-version-suffixes, project-phase-validation

chore: update .gitignore to exclude Claude session files
  .claude/current-context.md
  .claude/last-pack-id.txt
  .claude/session.vars
  .gitignore
Due: no-version-suffixes
