Repository elevanaltd/eav-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-version-suffixes, project-phase-validation

.pre-commit-config.yaml:

# HestAI Pre-commit Hooks Configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1024']  # 1MB limit
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      
  # HestAI documentation standards
  - repo: local
    hooks:
      - id: hestai-doc-standards
        name: HestAI Documentation Standards
        entry: scripts/validate-docs.sh
        language: script
        files: \.(md|oct\.md)$
        pass_filenames: false
        always_run: true
        
      - id: no-version-suffixes
        name: Check for forbidden version suffixes
        entry: '(_v[0-9]+|_final|_latest|_draft|_old|_new|_copy|_backup)'
        language: pygrep
        files: \.(md|oct\.md)$
        
      - id: project-phase-validation
        name: Validate PROJECT document phases
        entry: '^[0-9]{3}-PROJECT'
        language: pygrep
        files: '^docs/.*\.md$'
        args: ['--negate']  # This ensures PROJECT docs have proper phase
        exclude: '.*-(D1|D2|D3|B0|B1|B2|B3|B4)-.*'
        
  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package\.lock\.json
        
  # Markdown quality
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json', '--fix']
        
# Future additions (commented out until technology chosen):
# 
# # JavaScript/TypeScript (add after B0)
# - repo: https://github.com/pre-commit/mirrors-eslint
#   rev: v8.56.0
#   hooks:
#     - id: eslint
#       files: \.(js|jsx|ts|tsx)$
#       
# # Python (add after B0)
# - repo: https://github.com/astral-sh/ruff-pre-commit
#   rev: v0.1.13
#   hooks:
#     - id: ruff
#     - id: ruff-format
#     
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.8.0
#   hooks:
#     - id: mypy

fix: remove unused imports in test-memory-monitor.test.ts
  lint.log
  test.log
  tests/unit/scripts/test-memory-monitor.test.ts
  typecheck.log
Due: none

fix: resolve test infrastructure hanging and worker communication issues
  lint.log
  typecheck.log
  vite.config.ts
Due: none

fix: feasture tests
  package.json
  vite.config.ts
  vite.feature.config.ts
Due: none

fix: resolve worker memory exhaustion in test infrastructure
  package.json
  test.log
  tsconfig.json
  vite.config.ts
Due: none

fix: resolve test infrastructure hanging and worker communication issues
  all_tests.txt
  half_1.txt
  half_2.txt
  package.json
  src/components/editor/ScriptEditor.auth-integration.test.tsx
  sub_half_1.txt
  sub_half_2.txt
  tests/mocks/yjs.mock.ts
  tests/setup.ts
  tests/unit/collaboration/circuitBreaker.test.ts
  tests/unit/collaboration/custom-supabase-provider-awareness.test.ts
  tests/unit/collaboration/custom-supabase-provider.test.ts
  vite.config.ts
Due: none

fix: resolve Y.js encoding test failures through intelligent test scoping
  docs/adr/105-DOC-ADR-YJS-MOCK-TRADE-OFF.md
  test.log
  tests/mocks/yjs.mock.ts
  tests/unit/collaboration/encoding.test.ts
Due: no-version-suffixes, project-phase-validation

revert to real state
  .github/workflows/ci.yml.backup
  package.json
  tests/integration/README.md
  tests/integration/collaboration/yjs-encoding-integration.test.ts
  tests/unit/collaboration/encoding.test.ts
  vitest.integration.config.ts
Due: no-version-suffixes

fix: CI and test changes as per planning doc 227
  .github/workflows/ci.yml
  eslint.config.cjs
  package.json
  tests/integration/collaboration/yjs-encoding-integration.test.ts
  tests/unit/components/ProjectHeader.feature.test.tsx
  tests/unit/database/indexedDBQueue.feature.test.ts
  tests/unit/database/scriptComponentManager.feature.test.ts
  vite.config.ts
  vite.feature.config.ts
  vitest.integration.config.ts
Due: none

feat: apply 5 TestGuard-approved testing architecture improvements
  package.json
  src/lib/collaboration/encoding.ts
  tests/integration/collaboration/yjs-crdt-contract.test.ts
  tsconfig.json
  vitest.integration.config.ts
Due: none

update c.yml
  .github/workflows/ci.yml
Due: none

Push pending commits (#23)
  .github/workflows/ci.yml
Due: none

documentation to align Y.js true state
  docs/105-DOC-EAV-ORCHESTRATOR-D1-NORTH-STAR.md
  docs/203-DOC-ARCHITECTURE-YJS-SUPABASE-COLLABORATION.md
  docs/219-BUILD-B2-DATABASE-FOUNDATION-COMPLETE.md
  docs/220-BUILD-B2-SESSION-HANDOFF-2025-09-14.md
  docs/221-DOC-2025-09-14-DATABASE-FOUNDATION-SESSION-SUMMARY.md
  docs/adr/102-DOC-ADR-DATA-MODEL.md
Due: no-version-suffixes, project-phase-validation

documentation to align Y.js true state (#24)
  docs/105-DOC-EAV-ORCHESTRATOR-D1-NORTH-STAR.md
  docs/203-DOC-ARCHITECTURE-YJS-SUPABASE-COLLABORATION.md
  docs/219-BUILD-B2-DATABASE-FOUNDATION-COMPLETE.md
  docs/220-BUILD-B2-SESSION-HANDOFF-2025-09-14.md
  docs/221-DOC-2025-09-14-DATABASE-FOUNDATION-SESSION-SUMMARY.md
  docs/adr/102-DOC-ADR-DATA-MODEL.md
Due: no-version-suffixes, project-phase-validation

fix/supabase cleanup
  docs/228-DOC-CUTOVER-PLAYBOOK-SCHEMA-RESET.md
  docs/229-DOC-PRODUCTION-RECONCILIATION-COMPLETE.md
  src/lib/collaboration/encoding.ts
  supabase/migrations.applied.archive/003_core_schema.sql
  supabase/migrations.applied.archive/004_add_optimistic_locking.sql
  supabase/migrations.applied.archive/005_yjs_documents_security_fix.sql
  supabase/migrations.applied.archive/006_add_soft_delete.sql
  supabase/migrations.applied.archive/007_knowledge_platform_schema.sql
  supabase/migrations.applied.archive/008_add_script_status.sql
  supabase/migrations.applied.archive/009_fix_rls_policies.sql
  supabase/migrations.applied.archive/010_fix_foreign_keys_and_auth.sql
  supabase/migrations.applied.archive/011_smartsuite_alignment.sql
  supabase/migrations.applied.archive/012_system_defaults.sql
  supabase/migrations.applied.archive/013_add_component_status.sql
  supabase/migrations.applied.archive/016_make_last_edited_by_nullable.sql
  supabase/migrations.applied.archive/020_enforce_auth_requirements.sql
  supabase/migrations.applied.archive/021_enable_rls_policies.sql
  supabase/migrations/001_production_baseline.sql
  supabase/seed.sql
  tests/integration-setup.ts
  tests/integration/collaboration/yjs-crdt-contract.test.ts
  vitest.integration.config.ts
Due: no-version-suffixes, project-phase-validation

fix/supabase cleanup (#25)
  docs/228-DOC-CUTOVER-PLAYBOOK-SCHEMA-RESET.md
  docs/229-DOC-PRODUCTION-RECONCILIATION-COMPLETE.md
  src/lib/collaboration/encoding.ts
  supabase/migrations.applied.archive/003_core_schema.sql
  supabase/migrations.applied.archive/004_add_optimistic_locking.sql
  supabase/migrations.applied.archive/005_yjs_documents_security_fix.sql
  supabase/migrations.applied.archive/006_add_soft_delete.sql
  supabase/migrations.applied.archive/007_knowledge_platform_schema.sql
  supabase/migrations.applied.archive/008_add_script_status.sql
  supabase/migrations.applied.archive/009_fix_rls_policies.sql
  supabase/migrations.applied.archive/010_fix_foreign_keys_and_auth.sql
  supabase/migrations.applied.archive/011_smartsuite_alignment.sql
  supabase/migrations.applied.archive/012_system_defaults.sql
  supabase/migrations.applied.archive/013_add_component_status.sql
  supabase/migrations.applied.archive/016_make_last_edited_by_nullable.sql
  supabase/migrations.applied.archive/020_enforce_auth_requirements.sql
  supabase/migrations.applied.archive/021_enable_rls_policies.sql
  supabase/migrations/001_production_baseline.sql
  supabase/seed.sql
  tests/integration-setup.ts
  tests/integration/collaboration/yjs-crdt-contract.test.ts
  vitest.integration.config.ts
Due: no-version-suffixes, project-phase-validation

ui loading issue fix
  src/contexts/AuthContext.tsx
  src/lib/supabase.ts
  src/lib/supabaseClient.ts
Due: none

ci fix
  src/contexts/AuthContext.tsx
Due: none

ci fix - re-enable user-roles
  src/contexts/AuthContext.tsx
Due: none

CI fix
  src/contexts/AuthContext.tsx
Due: none

fix: update getUser test mock to use getSession
  src/lib/supabase.test.ts
Due: none

ui loading issue fix (#26)
  src/contexts/AuthContext.tsx
  src/lib/supabase.test.ts
  src/lib/supabase.ts
  src/lib/supabaseClient.ts
Due: none

playwright setup
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  src/contexts/AuthContext.tsx
  src/lib/supabase.ts
  tests/visual/README.md
  tests/visual/component-gallery.spec.ts
  tests/visual/homepage.spec.ts
  tests/visual/visual-helper.ts
Due: no-version-suffixes

playwright setup
  .env.test.example
  .gitignore
  buttons-gallery.png
  docs/230-DOC-VISUAL-REQUIREMENTS-FROM-DEMO.md
  form-0.png
  playwright.config.ts
  scripts/check-existing-users-profiles.sql
  scripts/check-function-and-fix.sql
  scripts/check-supabase-limits.sql
  scripts/correct-profile-creation-approach.sql
  scripts/create-auth-hook-function.sql
  scripts/diagnose-auth-creation-block.sql
  scripts/diagnose-auth-users-issue.sql
  scripts/diagnose-user-creation.sql
  scripts/diagnostic-pure-sql.sql
  scripts/diagnostic-step-by-step.sql
  scripts/final-fix-user-creation.sql
  scripts/fix-auth-hook-existing-table.sql
  scripts/fix-auth-hook-signature.sql
  scripts/fix-user-creation-simple.sql
  scripts/fix-user-creation.sql
  scripts/full-user-creation-diagnostic.sql
  scripts/remove-auth-triggers.sql
  scripts/safe-auth-hook-function.sql
  scripts/setup-lazy-profile-sync.sql
  scripts/verify-user-profile-creation.sql
  src/contexts/AuthContext.tsx
  test-user-creation.js
  tests/visual/app-authenticated.spec.ts
  tests/visual/auth-helper.ts
  tests/visual/debug-auth.spec.ts
  tests/visual/eav-layout.spec.ts
  tests/visual/homepage.spec.ts
  tests/visual/tiptap-editor.spec.ts
  tests/visual/visual-helper.ts
  vite.config.ts
Due: no-version-suffixes, project-phase-validation

fix of test failures and memory leak
  docs/231-DOC-VITEST-MEMORY-LEAK-FIX.md
  eslint.config.cjs
  package.json
  playwright.config.ts
  scripts/force-cleanup.sh
  scripts/test-memory-safe.sh
  src/contexts/AuthContext.tsx
  src/lib/collaboration/AuthenticatedProviderFactory.test.ts
  src/lib/supabase-singleton.test.ts
  src/lib/supabase.ts
  tests/setup.ts
  tests/visual/auth-helper.ts
  tests/visual/component-gallery.spec.ts
  tests/visual/debug-auth.spec.ts
  tests/visual/tiptap-editor.spec.ts
  tests/visual/visual-helper.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.integration.config.ts
Due: no-version-suffixes, project-phase-validation

update tsconfig
  tsconfig.json
Due: none

update vitest.config
  vitest.config.ts
Due: none

feat: transform script components to Google Docs-style seamless document flow
  src/components/editor/ScriptEditor.tsx
  tests/visual/app-authenticated.spec.ts
Due: none

fix: eliminate position race condition with atomic RPC approach
  playwright.config.ts
  src/App.tsx
  src/components/auth/LoginForm.tsx
  src/components/editor/ScriptEditor.tsx
  src/lib/database/scriptComponentManager.ts
  supabase/migrations/20250922120000_fix_position_race_condition.sql
  test-after-login.png
  tests/unit/database/scriptComponentManager.concurrency.test.ts
  tests/unit/database/scriptComponentManager.feature.test.ts
  tests/unit/database/scriptComponentManager.test.ts
  tests/visual/app-authenticated.spec.ts
Due: none

fix: add editable: true to TipTap useEditor configuration
  src/components/editor/ScriptEditor.tsx
Due: none

fix: resolve ScriptEditor loading timeout preventing TipTap editor rendering
  src/App.tsx
  tests/visual/editor-diagnostic.spec.ts
Due: none

feat: restore TipTap editor and fix broken textarea architecture
  src/components/editor/ScriptEditor.tsx
  supabase/migrations/20250922144521_fix_rpc_function_column_names.sql
  supabase/migrations/20250922145024_fix_for_update_aggregate.sql
  supabase/migrations/README.md
  tests/visual/editor-working-verification.spec.ts
  tests/visual/isolation-test-a.spec.ts
  tests/visual/isolation-test-b.spec.ts
Due: no-version-suffixes
