Repository elevanaltd/eav-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-version-suffixes, project-phase-validation

no-version-suffixes:
  name: Check for forbidden version suffixes
  entry: (_v[0-9]+|_final|_latest|_draft|_old|_new|_copy|_backup)
  language: pygrep

project-phase-validation:
  name: Validate PROJECT document phases
  entry: ^[0-9]{3}-PROJECT
  language: pygrep
  args:
  - --negate

test: add useClientLifecycle hook tests (RED state TDD)
  tests/unit/hooks/useClientLifecycle.test.tsx
Due: none

feat: implement useClientLifecycle React hook (GREEN state TDD)
  src/hooks/useClientLifecycle.ts
Due: none

fix: resolve ESLint violations in lifecycle manager tests and hook
  src/App.tsx
  src/hooks/useClientLifecycle.ts
  src/lib/lifecycle/clientLifecycleManager.ts
  tests/unit/hooks/useClientLifecycle.test.tsx
  tests/unit/lifecycle/clientLifecycleManager.test.ts
Due: none

feat: implement IndexedDB schema versioning and migration system
  src/lib/database/indexedDBQueue.ts
  tests/unit/database/indexedDBQueue.test.ts
Due: none

feat: implement /api/version endpoint for client lifecycle coordination
  public/version.json
  tests/unit/api/version.test.ts
  tests/unit/api/version.test.ts.backup
  vite.config.ts
Due: none

fix
  README.md
  scripts/validate-docs.sh
  test.log
  tests/setup.ts
  tests/unit/collaboration/circuitBreaker.test.ts
Due: no-version-suffixes

update to use new publishable keys
  .env.example
  .env.test
  src/lib/supabase.ts
  src/vite-env.d.ts
  vite.config.ts
Due: none

fix: segregate infrastructure and feature tests per TestGuard directive
  .github/workflows/ci.yml
  package.json
  tests/unit/components/ScriptComponentManagement.controlled.feature.test.tsx
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
Due: none

fix: correct vitest syntax for test segregation
  package.json
Due: none

fix: resolve TypeScript compilation errors in feature test files
  tests/unit/components/ScriptComponentManagement.controlled.feature.test.tsx
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
Due: none

fix:CI pipeline adjustments
  supabase/.branches/_current_branch
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
Due: none

fix: segregate infrastructure and feature tests per TestGuard (#16)
  .github/workflows/ci.yml
  package.json
  supabase/.branches/_current_branch
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
  tests/unit/components/ScriptComponentManagement.controlled.feature.test.tsx
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
Due: none

chore: add Supabase temp files to gitignore
  .gitignore
Due: none

chore: add Supabase temp files to gitignore (#17)
  .gitignore
  supabase/.branches/_current_branch
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
Due: none

docs: update project status to reflect B2-Build active development
  CLAUDE.md
Due: no-version-suffixes

fix: b2 CI Pipeline
  src/App.tsx
  src/components/editor/ScriptEditor.tsx
  src/types/editor.ts
  tests/unit/api/transformers.test.ts
  tests/unit/components/ScriptComponentManagement.controlled.feature.test.tsx
  tests/unit/transformers.test.ts
  tests/unit/types/ui/scriptComponent.test.ts
Due: none

fix: complete UI/database boundary transformation
  src/lib/api/transformers.ts
  tests/unit/components/ScriptComponentManagement.controlled.test.tsx
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
  tests/unit/components/ScriptEditor.test.tsx
  tests/unit/types/editor.test.ts
  tests/unit/types/ui/scriptComponent.test.ts
Due: none

docs: document UI/database transformation architecture
  docs/224-BUILD-UI-DATABASE-TRANSFORMATION-SESSION.md
  docs/adr/114-DOC-ADR-UI-DATABASE-BOUNDARY.md
Due: no-version-suffixes, project-phase-validation

docs: update status documentation for transformation fix
  CLAUDE.md
Due: no-version-suffixes

test updates
  src/components/editor/ScriptEditor.auth-integration.test.tsx.backup
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
  tests/unit/components/ScriptComponentManagement.test.tsx
Due: none

fix: implement system-owned default hierarchy pattern for Create First Script button
  APPLY_RLS_FIX_TO_PRODUCTION.sql
  APPLY_TO_PRODUCTION.sql
  docs/adr/115-DOC-ADR-CONTROLLED-COMPONENT-PATTERN.md
  fix-production-schema.sql
  src/App.tsx
  src/lib/database/scriptComponentManager.ts
  supabase/migrations/008_add_script_status.sql
  supabase/migrations/009_fix_rls_policies.sql
  supabase/migrations/010_fix_foreign_keys_and_auth.sql
  supabase/migrations/011_smartsuite_alignment.sql
  supabase/migrations/012_system_defaults.sql
  tests/unit/components/ScriptComponentManagement.feature.test.tsx
Due: no-version-suffixes, project-phase-validation

feat: implement production-ready UI polish and layout improvements
  PRODUCTION_COMPLETE_FIX.sql
  src/App.tsx
  src/index.css
Due: none

fix: strategic test environment and contract fixes
  docs/225-BUILD-PRIORITY-3-IMPLEMENTATION-LOG-B2.md
  docs/adr/116-DOC-ADR-SMARTSUITE-CACHE.md
  src/App.tsx
  src/components/editor/ScriptEditor.tsx
  tests/unit/components/ProjectHeader.test.tsx
  tests/unit/components/ScriptEditor.paste.test.tsx
Due: no-version-suffixes, project-phase-validation

fix: resolve critical UI and database issues
  src/components/editor/ScriptEditor.tsx
  supabase/migrations/013_add_component_status.sql
  tests/unit/components/ScriptEditor.paste.test.tsx
Due: none

feat: implement core authentication system
  src/components/auth/LoginForm.tsx
  src/components/auth/UserMenu.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useAuth.ts
Due: none

feat: add database migrations for authentication
  scripts/create-test-users.sql
  supabase/migrations/016_make_last_edited_by_nullable.sql
  supabase/migrations/020_enforce_auth_requirements.sql
  supabase/migrations/021_enable_rls_policies.sql
Due: none

feat: integrate authentication into main app flow
  src/App.tsx
Due: none

feat: update data layer for authenticated operations
  src/lib/database/scriptComponentManager.ts
  src/types/editor.ts
  src/types/scriptComponent.ts
Due: none

test: update test suite for authentication integration
  tests/unit/database/scriptComponentManager.test.ts
Due: none

chore: add UI dependencies and configuration
  package-lock.json
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
Due: none

docs: add test execution log
  test.log
Due: none

fix: resolve circuit breaker and security test failures blocking CI
  src/lib/database/scriptComponentManagerWithResilience.ts
  src/types/scriptComponent.ts
Due: none

fix: exclude environment-dependent tests from CI blocking
  vite.config.ts
Due: none

feat: implement comprehensive CI test segregation strategy
  vite.config.ts
Due: none

fix: prevent IndexedDB initialization hanging in CI tests
  src/lib/database/indexedDBQueue.ts
Due: none

test: validate branch protection enforcement
  test-branch-protection.md
Due: no-version-suffixes

branch protection validation
  docs/226-BUILD-BRANCH-PROTECTION-VALIDATION-RESULTS.md
  src/lib/database/indexedDBQueue.ts
  tests/setup.ts
  tests/unit/database/indexedDBQueue.test.ts
Due: no-version-suffixes, project-phase-validation

fix: errors and blockers
  src/lib/supabase.test.ts
  test.log
  tests/unit/database/indexedDBQueue.test.ts
  tests/unit/database/scriptComponentManager.test.ts
Due: none

/exitscript editor and project header test updates
  src/components/editor/ScriptEditor.tsx
  tests/unit/components/ProjectHeader.test.tsx
  tests/unit/database/indexedDBQueue.test.ts
Due: none

fix: correct component test ID pattern for block-based editor
  .github/workflows/ci.yml
  docs/227-DOC-TECH-DEBT-001-TEST-MEMORY-EXHAUSTION.md
  package-lock.json
  package.json
  scripts/test-memory-monitor.sh
  src/components/editor/ScriptEditor.tsx
  test.log
  tests/unit/scripts/test-memory-monitor.test.ts
  vite.config.ts
Due: no-version-suffixes, project-phase-validation

Path conditions:
  no-version-suffixes: any of: \.(md|oct\.md)$
  project-phase-validation: any of: ^docs/.*\.md$, but not: .*-(D1|D2|D3|B0|B1|B2|B3|B4)-.*
